@charset "UTF-8";
@import "variables";
body {
  color: $primary-color;
  font-family: $primary-font;
  padding: 0px !important;
  margin: 0px !important;
  direction: "ltr";
  font-size: 14px;
}
/* You can add global styles to this file, and also import other style files */
@import "common";
@import "layout";
